<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Skyer Tai</string>
	<key>Builder Version</key>
	<string>7534.51.22</string>
	<key>CFBundleDisplayName</key>
	<string>PlurkMuter</string>
	<key>CFBundleIdentifier</key>
	<string>com.skyer.plurkmute</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>automute</string>
				<key>Identifier</key>
				<string>automute</string>
				<key>Image</key>
				<string>Images/MutePlurk.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>automute</string>
				<key>Menu</key>
				<string>menu</string>
				<key>Tool Tip</key>
				<string>Auto mute Plurk</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Scripts/inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Auto mute the plurks with matched keyword</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.plurk.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
